.ranking {
  margin: auto;
  width: 95%;
  text-align: center;
  background-color: #666666;
  padding: 60px 20px;
  border-radius: 50px;
}

.ranking .title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0px;
}

.ranking .rank_img{
  margin: 0px;
  display: inline-block;
  position: relative;
}

.ranking .face{
  width: 235px;
  height: 235px;
  margin: 0px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  /* position: relative; */
  /* flex: none; */
}


.ranking .rank{
  /* position: absolute;
  left: 60px;
  bottom: -95px; */
  margin: 0px 0px 30px 0px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  width: 235px;
}

.ranking .icon{
  width: 100px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* .ranking .rank{
  position: absolute;
  left: 60px;
  bottom: -95px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  width: 235px;
} */

.ranking .no1{
  border: 10px gold solid;
}

.ranking .no1_rank{
  background-color: white;
  border: 10px gold solid;
}

.ranking .no2{
  border: 10px silver solid;
}

.ranking .no2_rank{
  background-color: white;
  border: 10px silver solid;
}

.ranking .no3{
  border: 10px #a17136 solid;
}

.ranking .no3_rank{
  background-color: white;
  border: 10px #a17136 solid;
}

.ranking .nother{
  border: 10px #BAD3FF solid;
}

.ranking .nother_rank{
  background-color: white;
  border: 10px #BAD3FF solid;
}
